header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a{
  margin-left: 20px;
}

#Serviços {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#Serviços h2{
  flex-basis: 100%;
  margin-left: 25px;
}

#Serviços article{
  flex-basis: 400px;
  flex-grow: 1;
  margin: 15px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
}

