header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a{
  margin-left: 20px;
}

/*Usando flex*/
#Serviços {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#Serviços h2{
  flex-basis: 100%;
  margin-left: 25px;
}

#Serviços article{
  flex-basis: 400px;
  flex-grow: 1;
  margin: 15px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
}

/*Usando grid*/
#Projetos h2{
  margin-left: 25px;
}

#Projetos .articlesgroup{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#Projetos .articlesgroup article{
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  margin: 25px;
}