header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  margin-left: 20px;
}

#Cafes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#Cafes h2{
  flex-basis: 100%;
  margin-left: 25px;
}
#Cafes figure{
  flex-grow: 1;
  flex-basis: 300px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
}